@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
    width: 100%;
    height: auto;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.background_image {
    width: 100%;
    height: 100%;
    background-image:
        url('../assets/gallery/images/banner_images/backgroundImage.png');
    background-size: cover;
    /* background-position: center; */
    position: relative;
}

.banner {
    width: 705px;
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: right; */
    /* align-items: end; */
    padding: 113px 0;
    margin-left: 47vw;
}

.banner h3 {
    text-align: right;
    color: var(--Primary-color, #FF9F0D);
    font-family: Great Vibes;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.banner h2 {
    text-align: right;
    font-kerning: none;
    font-family: Helvetica;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    margin: 8px 0 32px;
}

.banner h2 span {
    color: #FF9F0D;
}

.banner .description {
    color: var(--fffffff, #FFF);
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.banner .interface {
    width: 370px;
    display: flex;
    align-items: center;
    margin-top: 32px;
    /* justify-content: space-between; */
}

.banner .interface .link {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    padding: 15px 53px;
    border-radius: 30px;
    border: 1px solid #FF9F0D;
}

.banner .interface .play_video_btn {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 100px;
    background-color: #FF9F0D;
    margin: 0 12px 0 24px;
    cursor: pointer;
}

.banner .interface .play_video_btn img {
    padding: 18px;
    border-radius: 100px;
}

.banner .interface p {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}