@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
    width: 1320px;
    height: auto;
    margin: 0 auto;
    padding: 120px 0;
}

.container h3 {
    color: var(--Primary-color, #FF9F0D);
    font-family: Great Vibes;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}



.container h2 {
    font-kerning: none;
    font-family: Helvetica;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
}

.container h2 span {
    color: #FF9F0D;
}

.post {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.post .card {
    width: 425px;
    display: block;
    border: 1px solid var(--fffffff, #FFF);
}

.post .card .contant {
    /* width: 338px; */
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px 42px;
}

.post .card .contant p {
    width: 100%;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin: 16px 0 32px;
}

.post .card .contant .date {
    color: var(--Primary-color, #FF9F0D);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.post .card .contant .interface {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post .card .contant .interface .link {
    text-decoration: none;
    color: var(--fffffff, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.post .card .contant .interface .btn_img {
    width: 76px;
    justify-content: space-between;
    display: flex;

}

.post .card .contant .interface .btn_img img {
    cursor: pointer;
}