.review_section {
    width: 68.750vw;
    height: auto;
    margin: 0 auto 120px;
}

.review_section h3 {
    color: var(--Primary-color, #FF9F0D);
    font-family: Great Vibes;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.review_section h2 {
    color: var(--fffffff, #FFF);
    font-kerning: none;
    font-family: Helvetica;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    margin: 8px 0 120px;
}

.review_carousel {
    width: 45.313vw;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.review_card {
    width: 100%;
    position: relative;
    padding: 30px 85px;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 55px;
    background-image: url(../assets/gallery/images/review_carousel/unsplash_Ioq6qEibtbU.png);
    background-repeat: no-repeat;
    background-position: 20.833vw 50px;
    box-shadow: 0px 0px 80px 0px rgba(205, 205, 205, 0.25);
}

.review_carousel .review_card .photo_user {
    margin-bottom: 32px;
}

.review_carousel .review_card .photo_user img {
    width: 135px;
    height: 135px;
    border-radius: 100px;
}

.review_carousel .review_card .review_user p {
    color: var(--gray-2, #4F4F4F);
    text-align: center;
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 32px 0;
}

.review_carousel .review_card .review_user h4 {
    color: var(--Gray-1, #333);
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin: 16px 0 8px;
}

.review_carousel .review_card .review_user h5 {
    color: var(--Gray-3, #828282);
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}