.background {
    width: 100%;
    height: auto;
    position: fixed;
    background-color: #fff;
    z-index: 776;
}

.background .cart_module {
    width: 68.750vw;
    height: 600px;
    background-color: #fff;
    margin: 190px auto 120px;
    padding: 15px;
    /* border: 1px solid black; */
    overflow-y: auto;
    scrollbar-color: #FF9F0D;
    scrollbar-width: thin;
}

/* Кастомізація полоси прокрутки */
.background .cart_module::-webkit-scrollbar {
    width: 16px; /* Змініть ширину за потребою */
    border-radius: 25px;
}

/* Кастомізація фону полоси прокрутки */
.background .cart_module::-webkit-scrollbar-thumb {
    background-color: #FF9F0D;
    border-radius: 25px;
}

.background .cart_module .cart_header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 30px;
    margin-bottom: 17px;
}

.background .cart_module .cart_header h2 {
    color: var(--Gray-1, #333);
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.background .cart_module .cart_header img {
    width: 40px;
    cursor: pointer;
}

.background .cart_module .cart_table {
    width: 100%;
}

.background .cart_module .cart_table thead {
    width: 100%;
}


.background .cart_module .cart_table thead tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 10px;
}

.background .cart_module .cart_table thead tr th {
    color: var(--Gray-1, #333);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.background .cart_module .cart_table tbody {
    width: 100%;
    height: auto;
}

.background .cart_module .cart_table tbody tr {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 22px;
    border-bottom: 1px solid #BDBDBD;
    padding: 10px 0;
}

.background .cart_module .cart_table tbody .img_and_title {
    width: 20%;
    height: 98px;
    display: flex;
    align-items: center;
}

.background .cart_module .cart_table tbody .img_and_title img {
    width: 4.844vw;
    height: 100%;
}

.background .cart_module .cart_table tbody .img_and_title p {
    margin-left: 16px;
    color: var(--Gray-1, #333);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.background .cart_module .cart_table tbody .price {
    width: 13%;
    color: var(--Gray-1, #333);
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.background .cart_module .cart_table tbody .count_box {
    width: 34%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.background .cart_module .cart_table tbody .count_box .count_box_border {
    width: 30%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #BDBDBD;
    margin: 0 auto;
    padding: 8px 15px;
    border-radius: 18px;
}

.background .cart_module .cart_table tbody .count_box .count_box_border .count_item {
    color: var(--Gray-1, #333);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.background .cart_module .cart_table tbody .count_box .count_box_border img {
    cursor: pointer;
}

.background .cart_module .cart_table tbody .total_price {
    width: 14%;
    color: var(--Gray-1, #333);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.background .cart_module .cart_table tbody .remove_icon {
    width: 19%;
    height: 25px;
    position: relative;
}

.background .cart_module .cart_table tbody .remove_icon img {
    position: absolute;
    right: 22px;
    cursor: pointer;
}

.background .cart_module .cart_table .total_bill {
    width: 100%;
    margin-top: 42px;

}

.background .cart_module .cart_table .total_bill h3 {
    color: var(--Gray-1, #333);
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.background .cart_module .cart_table .total_bill .bill_box {
    width: 100%;
    display: flex;
    margin-top: 24px;
}

.background .cart_module .cart_table .total_bill .total_amount {
    width: 30%;
    text-align: center;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--Gray-1, #333);
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.background .cart_module .cart_table .total_bill .check_btn {
    width: 30%;
    padding: 19px 0;
    margin-left: 32px;
    text-align: center;
    background-color: #FF9F0D;
    color: var(--fffffff, #FFF);
    border-radius: 3px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    cursor: pointer;
}