@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.chefs {
    width: 68.750vw;
    height: auto;
    margin: 120px auto 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chefs .chef_card {
    width: 16.250vw;
    height: auto;
    margin-bottom: 24px;
    text-align: center;
}

.chefs .chef_card img {
    width: 16.250vw;
}

.chefs .chef_card h3 {
    color: var(--Gray-1, #333);
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin: 10px 0 5px;
}

.chefs .chef_card h4 {
    color: var(--Gray-1, #333);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}