/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
 */


.home_page_container {
    width: 100%;
    height: auto;
    background-color: #0D0D0D;
    position: relative;
}

.home_page_container .main_banner_background {
    width: 100%;
    height: 100%;
    padding-top: 87px;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.90)),
        url('../assets/gallery/images/home_page_images/main_banner_back.png');
    background-size: cover;
    box-shadow: 0 0 150px 5px rgba(0, 0, 0, 0.90),
        inset 0 0 150px 5px #0D0D0D;

}

.home_page_container .main_banner {
    width: 75vw;
    margin: 0 auto;
    display: flex;
    padding: 59px 0 267px;
    position: relative;

}

.home_page_container .main_banner .social_icons_container {
    width: 25px;
    height: 492px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;
}

.home_page_container .main_banner .social_icons_container .color_line {
    width: 1px;
    height: 150px;
    background-color: #FFF;
}

.home_page_container .main_banner .social_icons_container .social_icons {
    width: 25px;
    height: 107px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home_page_container .main_banner .social_icons_container .social_icons li {
    list-style: none;
}

.home_page_container .main_banner .main {
    width: 472px;
    margin-top: 102px;
}

.home_page_container .main_banner .main h2 {
    color: #FF9F0D;
    font-family: Great Vibes;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.home_page_container .main_banner .main h1 {
    font-family: Helvetica;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px;
    margin: 8px 0 32px;
}

.home_page_container .main_banner .main h1 .the {
    color: #FF9F0D;
}

.home_page_container .main_banner .main p {
    width: 418px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.home_page_container .main_banner .main .link {
    width: 190px;
    height: 60px;
    display: block;
    color: #eeeded;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 18px 57px;
    border-radius: 30px;
    background: var(--primary-color, #FF9F0D);
    text-decoration: none;
}

.home_page_container .main_banner .dish_photo img {
    width: 45vw;
    position: absolute;
    left: 600px;
}

.home_page_container .content_container {
    width: 100%;
    margin: 0 auto;
}

.home_page_container .content_container .first_section {
    width: 1320px;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 120px 0;
    margin: 0 auto;
}

.home_page_container .content_container .first_section .about_us_section {
    width: 535px;
}

.home_page_container .content_container .first_section .about_us_section h3 {
    color: var(--Primary-color, #FF9F0D);
    font-family: Great Vibes;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.home_page_container .content_container .first_section .about_us_section h2 {
    font-kerning: none;
    font-family: Helvetica;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    margin-top: 8px;
}

.home_page_container .content_container .first_section .about_us_section h2 span {
    color: var(--Primary-color, #FF9F0D);
}

.home_page_container .content_container .first_section .about_us_section p {
    width: 526px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 32px;
}

.home_page_container .content_container .first_section .about_us_section ul {
    width: 100%;
    list-style: none;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.home_page_container .content_container .first_section .about_us_section ul li {
    margin-top: 24px;
}

.home_page_container .content_container .first_section .about_us_section ul li img {
    margin-right: 10px;
}

.home_page_container .content_container .first_section .about_us_section .first_section_link {
    width: 190px;
    height: 60px;
    display: block;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    padding: 18px 0;
    border-radius: 30px;
    background: #FF9F0D;
    text-align: center;
    margin-top: 32px;
}


.home_page_container .content_container .first_section .our_dishes {
    width: 660px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home_page_container .content_container .first_section .our_dishes img:first-child {
    margin-bottom: 16px;
}

.home_page_container .content_container .second_section {
    width: 1320px;
    padding-bottom: 120px;
    margin: 0 auto;
}

.home_page_container .content_container .second_section h3 {
    color: var(--Primary-color, #FF9F0D);
    font-family: Great Vibes;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.home_page_container .content_container .second_section h2 {
    font-kerning: none;
    font-family: Helvetica;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    margin-top: 8px;
}

.home_page_container .content_container .second_section h2 span {
    color: #FF9F0D;
}

.home_page_container .content_container .second_section .food_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 56px;
    position: relative;
    z-index: 5;
}

.home_page_container .content_container .second_section .food_item li:first-child {
    position: relative;
}

.home_page_container .content_container .second_section .food_item li:first-child p:nth-child(2) {
    width: 125px;
    height: 40px;
    position: absolute;
    top: 123px;
    left: 81px;
    color: #FF9F0D;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    padding: 7px 19px;
    border-radius: 6px;
    background: #FFF;
}

.home_page_container .content_container .second_section .food_item li:first-child p:nth-child(3) {
    width: 206px;
    height: 46px;
    position: absolute;
    top: 174px;
    left: 0;
    color: #FFF5F5;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    padding: 9px 31px;
    border-radius: 6px;
    background: #FF9F0D;
}

/* .home_page_container .content_container .second_section .food_item li img {
    width: 15.937vw;
} */

.home_page_container .background_image {
    position: absolute;
    top: 1950px;
    right: 0;
    z-index: 0;
}

.home_page_container .third_section {
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
}

.home_page_container .third_section .our_dishes {
    width: 660px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* display: flex; */
}

.home_page_container .third_section .first_block {
    width: 100%;
}

.home_page_container .third_section .first_block img:nth-child(2) {
    margin-left: 16px;
}

.home_page_container .third_section .second_block {
    display: flex;
    margin-top: 16px;
}

.home_page_container .third_section .second_block .first_indoor_unit img:nth-child(2) {
    margin-left: 16px;
    margin-bottom: 80px;
}

.home_page_container .third_section .second_block .first_indoor_unit {
    display: block;
}

.home_page_container .third_section .second_block .second_indoor_unit {
    width: 161px;
    margin-left: 16px;
}

.home_page_container .third_section .second_block .second_indoor_unit img:nth-child(2) {
    margin-top: 16px;
}

.home_page_container .third_section .why_we_description {
    width: 526px;
}

.home_page_container .third_section .why_we_description h3 {
    color: var(--Primary-color, #FF9F0D);
    font-family: Great Vibes;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.home_page_container .third_section .why_we_description h2 {
    font-kerning: none;
    font-family: Helvetica;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    margin-top: 8px;
}

.home_page_container .third_section .why_we_description h2 span {
    color: #FF9F0D;
}

.home_page_container .third_section .why_we_description .desc {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 32px;
}

.home_page_container .third_section .why_we_description .aside {
    width: 374px;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    text-align: center;

}

.home_page_container .third_section .why_we_description .aside img {
    padding: 22px 23px;
    border-radius: 6px;
    background: #FF9F0D;
}

.home_page_container .third_section .why_we_description .aside p {
    margin-top: 8px;
}

.home_page_container .third_section .why_we_description .our_experiense {
    width: 374px;
    height: 92px;
    display: flex;
    padding: 17px 51px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #fff;
    margin-top: 34px;
    position: relative;
}

.home_page_container .third_section .why_we_description .our_experiense div {
    
    width: 10px;
    height: 93px;
    border-radius: 6px 0px 0px 6px;
    background: #FF9F0D;
    position: absolute;
    top: 0;
    left: 0;
    
}

.home_page_container .third_section .why_we_description .our_experiense .number {
    color: var(--Primary-color, #FF9F0D);
    font-kerning: none;
    margin: 0;
    font-family: Helvetica;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

.home_page_container .third_section .why_we_description .our_experiense p {
    color: #1E1E1E;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-left: 47px;
}

.home_page_container .third_section .why_we_description .our_experiense p span {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.home_page_container .fifth_section {
    width: 1320px;
    margin: 0 auto;
    padding: 120px 0;
}

.home_page_container .fifth_section h3 {
    color: var(--Primary-color, #FF9F0D);
    font-family: Great Vibes;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.home_page_container .fifth_section h2 {
font-kerning: none;
font-family: Helvetica;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 56px;
text-align: center;
margin-top: 8px;
}

.home_page_container .fifth_section h2 span{
    color: #FF9F0D;
}

.home_page_container .fifth_section .our_chef {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
    list-style: none;
}

.home_page_container .fifth_section .our_chef li {
    position: relative;
}

.home_page_container .fifth_section .our_chef li p {
    width: 181px;
    height: 67px;
    position: absolute;
    bottom: 5px;
    left: 0;
    flex-shrink: 0;
    border-radius: 0px 0px 0px 6px;
    background: #fff;
    color: var(--Gray-1, #333);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 6px 0 9px 20px;
}

.home_page_container .fifth_section .our_chef li p span {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 4px;   
}

.home_page_container .fifth_section .link {
    width: 155px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 25px;
    border: 1px solid #FF9F0D;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 13px 40px;
    margin: 56px auto 0;
    
}